* {
  box-sizing: border-box;
}

body {
  background-color: rgb(108, 158, 142);
}

.userCard {
  height: 60vh;
  width: 18vw;
  margin: 20vh;
  margin-left: 40vw;

  background-color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 10px;
}

.topField {
  height: 15vh;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(107, 54, 156);
}

.userPhoto {
  height: 20vh;
  width: 20vh;
  margin-top: -10vh;

  display: inline-block;
  background-image: url(https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553486636l/44587231._SY475_.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.userName {
  padding: 2.5vh 0;

  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(105, 25, 180);
}

.userProf {
  padding-bottom: 2em;
  color: rgba(163, 91, 230, 0.808);
}

.footer {
  height: 10vh;
  margin-top: 8vh;

  border-top: 1px solid rgba(119, 114, 114, 0.651);
}

.userLink {
  width: 8.8vw;
  padding: 2vh 0;
  display: inline-block;
}

#firstLink {
  border-right: 1px solid rgba(119, 114, 114, 0.651);
}

.linkImage {
  height: 5vh;
  background-position: center;
}
